:root {
  --bg-gradient: linear-gradient(130deg, #005e9c 0%, #00111c 30%, #00111c 70%, #005e9c 100%);
  --bg-text-gradient: linear-gradient(90deg, #005e9c, #000);
  --bg-color: #fff;
  --margin: 20px;
  --bg-gradient-transparency: linear-gradient(130deg, #005f9eb3 0%, #00111cb3 30%, #00111cb3 70%, #005f9eb3 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradient)
}

.game-selection {
  padding: 50px 80px;
  border-radius: 8px;
  background: var(--bg-color);
  text-align: center;
  border: 1px solid;
  box-shadow: 6px 4px 20px rgba(0, 0, 0, .1),
    inset 6px 4px 12px rgba(0, 0, 0, .2);
  /* display: none; */
}

.game-selection h1 {
  color: white;
  font-size: 5rem;
}

.game-selection span {
  position: relative;
}

.game-selection span::before {
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
  content: var(--content);
  position: absolute;
  inset: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: letterAnimation 3s infinite;
  animation-delay: var(--delay);
}

@keyframes letterAnimation {

  0%,
  16.66%,
  100% {
    opacity: 1;
  }

  33.33%,
  83.33% {
    opacity: 0;
  }

}

.game-selection p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: var(--margin);
  background: #000;
  background: var(--bg-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-selection .game-players {
  margin-top: var(--margin);
  display: flex;
  justify-content: center;
  gap: .8rem;
}

.game-selection .game-players .game-player {
  color: var(--bg-text-gradient);
  font-size: 2rem;
  font-weight: 600;
  background: #fff;
  background: var(--bg-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in .5s;
}

.game-selection .game-players .game-player:hover {
  cursor: pointer;
  -webkit-text-fill-color: #fff;
  background: var(--bg-text-gradient);
}

.dot {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  background: var(--bg-text-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--bg-color);
}

.game-selection .game-players .game-player:hover span {
  cursor: pointer;
  -webkit-text-fill-color: #fff;
  background: white;
}

.game-selection .game-players .game-player:hover span::after {
  background: var(--bg-text-gradient);
}

.fadeOut {
  animation: hide .3s linear alternate;
}

.fadeIn {
  animation: show .3s linear alternate;
}

@keyframes hide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.game-board {
  display: none;
  padding: 30px;
  border-radius: 10px;
  background: white;
  text-align: center;
  box-shadow: 6px 4px 20px rgba(0, 0, 0, .1),
    inset 6px 4px 12px rgba(0, 0, 0, .2);
}

.main-game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .3rem;
}

.main-game-board .game-cell {
  width: 6rem;
  height: 6rem;
  text-align: center;
  background: var(--bg-gradient-transparency);
  border: 2px solid #f9f9f9;
  border-radius: 8px;
  transition: .4s linear;
  font-size: 4rem;
}

.main-game-board .game-cell:hover {
  cursor: pointer;
}

.game-reset {
  color: var(--bg-text-gradient);
  font-size: 1.5rem;
  background: var(--bg-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  margin-top: var(--margin);
  padding: 0 calc(var(--margin) / 2);
  transition: ease-in .5s;
}

.game-reset:hover {
  cursor: pointer;
  -webkit-text-fill-color: #fff;
  background: var(--bg-text-gradient);
}

.game-winner {
  display: none;
  padding: 40px 50px;
  border-radius: 10px;
  background: white;
  text-align: center;
  box-shadow: 6px 4px 20px rgba(0, 0, 0, .1),
    inset 6px 4px 12px rgba(0, 0, 0, .2);
}

.game-winner h4 {
  font-size: 30px;
  font-weight: 500;
}